.idea/
__pycache__/
static/metadataSetter/
static/css/dark.min.css
static/css/base.min.css
.vscode/settings.json
.env
ssl/elijahlopez.ca.key
ssl/elijahlopez_ca.ca-bundle
ssl/elijahlopez_ca.crt
ssl/elijahlopez.ca.csr
ssl/elijahlopez.ca.raw.key
