
.idea/dictionaries/maste.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/misc.xml
.idea/Website (DESKTOP-8S7HPOT's conflicted copy 2017-09-18).iml
.idea/workspace (DESKTOP-8S7HPOT's conflicted copy 2017-09-18).xml
_website.bat
__pycache__/funcs.cpython-36.pyc
.idea/workspace.xml
.idea/workspace (LAPTOP-II5152QN's conflicted copy 2017-09-11).xml
.idea/Website.iml
.idea/vcs.xml
