body {
    background-image: url("/static/images/light.webp"), linear-gradient(#2980B9, #6DD5FA);
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

#desktop-nav a, .dropdown .dropbtn {
    color: #000;
}

#desktop-nav>a:hover, .dropdown:hover .dropbtn {
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

.dropdown-content a:hover {
    background-color: #e8e8ee;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

@media screen and (max-width:690px) {
    body {
        background-image: url("/static/images/dark.webp"), linear-gradient(#00161f, #006c9e);
        background-repeat: repeat-y;
    }
}
