@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-Thin.otf');
  font-weight: 200;
}

#js-program-title {
    color: white;
    font-family: Montserrat;
    font-weight: lighter;
}

#js-program-title:hover {
    color: white;
}

#output {
  color: white;
  font-family: Montserrat;
  font-weight: lighter;
}
