@font-face {
    font-family: Manrope;
    src: url("/static/fonts/Manrope/Manrope-Regular.woff2");
}

@font-face {
    font-family: Manrope;
    src: url("/static/fonts/Manrope/Manrope-SemiBold.woff2");
    font-weight: 600;
}

@font-face {
    font-family: Manrope;
    src: url("/static/fonts/Manrope/Manrope-Bold.woff2");
    font-weight: bold;
}

@font-face {
    font-family: Montserrat;
    src: url("/static/fonts/Montserrat-Regular.otf");
    font-weight: lighter
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
    height: 100%;
    margin: 0;
    scrollbar-color: #666 #363636
}

::-webkit-scrollbar {
    width: 15px
}

::-webkit-scrollbar-track {
    background: #121212
}

::-webkit-scrollbar-thumb {
    background: #505050
}

::-webkit-scrollbar-thumb:hover {
    background: grey
}

* {
    -webkit-tap-highlight-color: transparent
}

button::-moz-focus-inner {
    border: 0
}

body {
    margin: 0 auto 1%;
    background-image: url("/static/images/light.webp"), linear-gradient(#00161f, #006c9e);
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

#inner {
    padding: 50px 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .8);
    margin: -6% auto auto auto;
    width: 50%;
    max-width: 1000px;
    text-align: center
}

h1 a {
    color: #fff;
    text-decoration: none;
    transition-duration: .2s
}

h1 a:hover {
    font-size: 47pt
}

h1 a:hover:after {
    content: 'Résumé'
}

h1 a:hover span {
    display: none
}

h1 {
    font-family: Manrope;
    font-size: 45pt;
    font-weight: 400;
    letter-spacing: 10px;
    margin-top: -10px;
    margin-bottom: 0;
    line-height: 1em;
    color: #fff;
    text-transform: uppercase;
    transition-duration: .2s
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1em;
    color: #fff;
    transition-duration: .2s
}

h3 {
    font-family: Montserrat;
    color: #fff;
}

h1:hover {
    filter: drop-shadow(0px 0px 15px #00bfff);
}

p {
    font-family: Montserrat;
    color: #fff;
    font-weight: 400;
    font-size: 18px
}

#panel-text {
    color: #000;
    margin: 0.5em 0;
}

.leftAlign {
    text-align: left;
    margin-left: 5%;
}

.link {
    margin-top: 10px;
    text-decoration: none;
    color: #00bfff;
    transition-duration: 150ms;
    font-family: Montserrat;
}

.link:hover {
    color: #00c44e
}

#desktop-nav {
    padding: 1em 0 0 1em;
}

#desktop-nav>a {
    border-radius: 1em;
    width: 100px;
    display: block
}

#desktop-nav>a:focus, h1 a:focus, .link:focus {
    outline: none;
}

#desktop-nav a, .dropdown .dropbtn {
    padding: .5em 1em;
    letter-spacing: .23px;
    color: #000;
    font-family: Manrope;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.dropdown {
    float: left;
    position: relative
}

.dropdown .dropbtn {
    border: none;
    width: 132px;
    border-radius: 1em 0 0 1em;
    background-color: transparent
}

.dropdown .dropbtn:focus {
    outline: 0
}

#desktop-nav>a:hover, .dropdown:hover .dropbtn {
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 132px;
    top: 0;
    width: 132px;
    z-index: 1
}

.dropdown-content a {
    display: block;
    border-radius: 0 1em 1em 0;
    background-color: #fff
}

.dropdown:hover .dropdown-content {
    display: block
}

.dropdown-content a:hover {
    background-color: #e8e8ee;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

#mobile-nav, #mobile-nav-checkbox {
    display: none
}

#social-links {
    position: fixed;
    bottom: 0;
    padding: .7%;
    left: 48%;
    background: rgba(0, 0, 0, .9);
    border-radius: 20%
}

#social-links>a {
    transition-duration: .3s;
    color: #fff
}

#social-links>a:hover i {
    color: grey;
    transform: scale(1.3)
}

.ui-btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #fff;
    margin: 0 0.5em 0.5em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Montserrat;
    color: #fff;
    transition: all 200ms;
    background-color: transparent;
}

.ui-btn:hover, .ui-btn:focus {
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.ui-btn::after {
    content: "\A\A";
}

#switch-text {
    position: fixed;
    bottom: 16px;
    right: 75px;
    background: #fff;
    font-family: Manrope;
    width: 8em;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    padding: 0 .5em 0 1em;
    border-radius: 1em 0 0 1em;
    text-align: left;
    color: #000
}

.switch {
    position: fixed;
    bottom: 16px;
    right: 30px;
    display: inline-block;
    width: 60px;
    height: 34px
}

.switch input {
    display: none
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .1s
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: .1s
}

input:checked+.slider {
    background-color: #2196f3
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px)
}

.slider.round {
    border-radius: 34px
}

.slider.round:before {
    border-radius: 50%
}

.noselect {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default
}

.fa-caret-down {
    display: none !important
}

/* Accordian */
.accordion {
    color: #141414;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    transition: 200ms;
    font-family: sans-serif;
    border-top: #ccc solid 1px;
    background-color: #f0f0f0;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    width: 90%;
    margin: auto;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 130ms ease-in-out;
    text-align: center;
    font-family: Calibri;
    color: black;
}
/* END: Accordian */

@media screen and (min-width:1281px) {
    #desktop-nav {
        width: max-content;
    }
}

@media screen and (max-width:1280px) {
    #inner {
        margin-top: 2%;
        width: 65%
    }

    .fa-caret-right {
        display: none !important
    }

    .fa-caret-down {
        display: inline-block !important
    }

    #desktop-nav {
        padding: 2em 0 7em;
        margin-top: -1em;
        text-align: center;
    }

    #desktop-nav>a {
        float: left;
        text-align: center;
        margin-left: 5%;
    }

    .dropdown .dropbtn {
        float: left;
        text-align: center;
        border-radius: 1em 1em 0 0
    }

    .dropdown-content {
        left: auto;
        margin-top: 39px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2)
    }

    .dropdown-content a {
        border-radius: 0
    }

    #social-links {
        padding: .9%;
        left: 46%
    }

    #social-links>a:hover i {
        transform: scale(1.2)
    }
}

@media screen and (max-width:690px) {
    body {
        background-image: url("/static/images/dark.webp"), linear-gradient(#00161f, #006c9e);
        background-repeat: repeat-y;
    }

    h1 {
        font-size: 30pt
    }

    h1 a:hover {
        font-size: 32pt
    }

    #desktop-nav, #switch-text, .switch {
        display: none
    }

    #mobile-nav {
        display: block;
        background-color: rgba(15, 15, 15, .9);
        text-align: center;
        font-family: Manrope;
        letter-spacing: .3em;
    }

    #mobile-nav-label {
        display: block;
        cursor: pointer;
        padding: .8em 0;
        color: white;
    }

    #mobile-nav-label:hover {
        color: #0ff
    }

    #mobile-nav-label::before {
        content: "MENU";
    }

    #mobile-nav-checkbox:checked ~ #mobile-nav-label::before {
        content: "CLOSE";
    }

    #mobile-nav-panel {
        margin-top: 0;
        visibility: hidden;
        padding-inline-start: 0;
        transition: opacity .2s linear, padding-bottom .2s;
        opacity: 0;
        width: 0;
        height: 0;
    }

    #mobile-nav-panel:hover {
        color: #fff;
        background-color: transparent
    }

    #mobile-nav-checkbox:checked ~ #mobile-nav-panel {
        visibility: visible;
        padding-bottom: 1em;
        opacity: 1;
        width: 100%;
        height: 100%;
    }

    #mobile-nav a {
        width: 100%;
        display: block;
        text-transform: uppercase;
        border-radius: 0;
        margin: 0;
        padding: .4em 0;
        text-decoration: none;
        color: transparent;
    }

    #mobile-nav-checkbox:checked ~ #mobile-nav-panel a {
        color: white;
    }

    #mobile-nav-checkbox:checked ~ #mobile-nav-panel a:hover {
        background-color: transparent;
        color: #0ff;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .2),
                    0 -8px 20px 0 rgba(0, 0, 0, .2),
                    0 8px 16px 0 rgba(0, 0, 0, .2),
                    0 -8px 16px 0 rgba(0, 0, 0, .2)
    }

    #inner {
        margin-top: 3em;
        margin-bottom: 2em;
        padding-left: 0;
        padding-right: 0;
        letter-spacing: .05em;
        width: 90%
    }

    #social-links {
        padding: 2%;
        left: 43%
    }

    #social-links>a:hover i {
        transform: scale(1.2)
    }
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -150px;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    font-family: Manrope;
    font-size: 20px;
    left: 50%;
    bottom: 60px
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein .5s, fadeout .5s 2s;
    animation: fadein .5s, fadeout .5s 2s
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0
    }

    to {
        bottom: 60px;
        opacity: 1
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0
    }

    to {
        bottom: 60px;
        opacity: 1
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 60px;
        opacity: 1
    }

    to {
        bottom: 0;
        opacity: 0
    }
}

@keyframes fadeout {
    from {
        bottom: 60px;
        opacity: 1
    }

    to {
        bottom: 0;
        opacity: 0
    }
}
