@font-face {
    font-family: AdamCGPro;
    src: url('fonts/ADAM.CG PRO.otf');
    font-weight: bold;
}

@font-face {
    font-family: Futura;
    src: url('fonts/futura medium bt.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Futura;
    src: url('fonts/Futura Bold font.ttf');
    font-weight: bold;
}

.main {
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    width: 45%;
    max-width: 1000px;
    resize: both;
    overflow: auto;
    text-align: center;
}

body {
    font-family: Futura;
    font-weight: bold;
    background-image: url("/static/images/bg-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@media (orientation: landscape) {
    body {
        background-image: url("/static/images/bg-desktop.jpg");
        margin-top: 30px;
    }
}

/* @media only screen and (max-width: 1024px) {
    body {
        background-color: lightblue;
    }
} */

h1 {
    font-family: AdamCGPro;
    font-size: 60px;
    letter-spacing: 10px;
    margin-top: -10px;

    color: white;
    text-decoration: none;
}

h1:hover {
    color: grey;
}

p {
    font-family: Futura;
    margin-top: -20px;
    color: white;
    font-weight: normal;
}

p:hover {
    color: grey;
}

li a {
    display: block;
    margin-left: 16px;
    width: 100px;
    color: #000;
    padding: 8px 5px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 13px;
}

li a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    letter-spacing: 0.2px;
}

.dropdown {
    /* The container <div> - needed to position the dropdown content */
    margin-left: 16px;
    width: 100px;
    color: #000;
    padding: 8px 5px;
    border: none;
    cursor: default;
    font-size: 13px;
    /*    position: relative;*/
    /*    display: inline-block;*/
}

.dropdown-content {
    /* Dropdown Content (Hidden by Default) */
    display: none;
    position: absolute;
    left: 134px;
    margin-top: -27px;
    z-index: 1;
    background-color: transparent;
}

.dropdown-content a {
    /* Links inside the dropdown */
    /* padding: 8px 16px; */
    margin-left: 0px;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.7);
}

.dropdown-content a:hover {
    /* Change color of dropdown links on hover */
    color: #000;
    background-color: lightgrey;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
}

.dropdown:hover .dropdown-content {
    /* Show the dropdown menu on hover */
    display: block;
}

.dropdown:hover {
    /* Change the background color of the dropdown button when the dropdown content is shown */
    color: white;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(0, 0, 0, 0.7);
}
