@font-face {
    font-family: AdamCGPro;
    src: url('fonts/ADAM.CG PRO.otf');
    font-weight: bold;
}

@font-face {
    font-family: Futura;
    src: url('fonts/futura medium bt.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Futura;
    src: url('fonts/Futura Bold font.ttf');
    font-weight: bold;
}

.main {
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    width: 45%;
    max-width: 1000px;
    resize: both;
    overflow: auto;
    text-align: center;
}

body {
    font-family: Futura;
    font-weight: bold;
    margin: 0;
    background-image: url("/static/images/bg-desktop.jpg");
    /*background-image: url("/static/images/bg-mobile.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* @media (orientation: landscape) {
    body {

    }
} */

/* @media only screen and (max-width: 1024px) {
    body {
        background-color: lightblue;
    }
} */

h1 {
    font-family: AdamCGPro;
    font-size: 60px;
    letter-spacing: 10px;
    margin-top: -10px;

    color: white;
    text-decoration: none;
}

h1:hover {
    color: grey;
}

p {
    font-family: Futura;
    margin-top: -20px;
    color: white;
    font-weight: normal;
}

p:hover {
    color: grey;
}

li a {
    display: block;
    margin-left: 1em;
    width: 100px;
    color: #000;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 1em;
}

li a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

#main-navigation {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    letter-spacing: 0.23px;
}

#mobile-navigation {
    display: none;
    text-align: center;
    letter-spacing: 0.3em;
    background-color: #333538;
    padding: 1em 0em;
    cursor: pointer;
}

#mobile-navigation-label {
    color: white;
    background-color: #333538;
    /* padding: 1em; */
}

u1 {
    display: none;
    color: white;
    text-align: center;
    list-style-type: none;
}

@media screen and (max-width: 640px) {
    #mobile-navigation {
        display: block;
    }
    #main-navigation {
        display: none;
    }
    body {
        background-image: url("/static/images/bg-mobile.jpg");
    }
    .main {
        margin-top: 4em;
    }
}

.dropdown {
    /* The container <div> - needed to position the dropdown content */
    margin-left: 1em;
    width: 100px;
    color: #000;
    padding: 0.5em 1em;
    border-radius: 1em 0em 0em 1px;
    border: none;
    cursor: default;
    /*    position: relative;*/
    /*    display: inline-block;*/
}

.dropdown-content {
    /* Dropdown Content (Hidden by Default) */
    display: none;
    position: absolute;
    left: 9.6em;
    margin-top: -27px;
    z-index: 1;
    background-color: transparent;
}

.dropdown-content a {
    /* Links inside the dropdown */
    /* padding: 8px 16px; */
    margin-left: 0px;
    border-radius: 0px 1em 1em 0px;
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.7);
}

.dropdown-content a:hover {
    /* Change color of dropdown links on hover */
    color: #000;
    background-color: lightgrey;
    background-color: white;
}

.dropdown:hover .dropdown-content {
    /* Show the dropdown menu on hover */
    display: block;
}

.dropdown:hover {
    /* Change the background color of the dropdown button when the dropdown content is shown */
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}
