@font-face {
    font-family: AdamCGPro;
    src: url('fonts/ADAM.CG PRO.otf');
    font-weight: bold;
}

@font-face {
    font-family: Futura;
    src: url('fonts/futura medium bt.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Futura;
    src: url('fonts/Futura Bold font.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Verdana;
    src: url('fonts/Verdana.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat-Regular.otf');
    font-weight: lighter;
}

html {
    height: 100%;
    margin: 0;
}

* {
    -webkit-tap-highlight-color: transparent;
}

button::-moz-focus-inner {
    border: 0;
}

body {
    margin: 0 auto 1%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/static/images/bg 1.jpg");
    background-color: rgb(8, 13, 16);
}

#inner {
    padding: 50px 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: -3.5% auto;
    margin-top: -12%;
    width: 45%;
    max-width: 1000px;
    text-align: center;
}

h1 a {
    color: white;
    text-decoration: none;
    transition-duration: 200ms;
}

h1 a:hover {
    color: grey;
    font-size: 70px;
    content: 'RESUME';
}

h1 a:hover:after {
    content: 'RESUME';
}

h1 a:hover span {
    display: none;
}

h1 {
    font-family: AdamCGPro;
    font-size: 60px;
    letter-spacing: 10px;
    margin-top: -10px;
    line-height: 1em;
    color: white;
    text-transform: uppercase;
    transition-duration: 200ms;
}

h1:hover {
    color: grey;
}

p {
    font-family: Futura;
    margin-top: -20px;
    color: white;
    font-weight: normal;
    font-size: 18px;
}

.link {
    margin-top: 10px;
    text-decoration: none;
    color: #75bdec;
    transition-duration: 150ms;
}

.link:hover {
    color: #00ab44;
}

#desktop-nav {
    padding: 1em 0 0 1em;
}

#desktop-nav>a {
    border-radius: 1em;
    width: 100px;
    display: block;
}

#desktop-nav a,
.dropdown .dropbtn {
    padding: 0.5em 1em;
    letter-spacing: 0.23px;
    color: black;
    font-family: Futura;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    float: left;
    position: relative;
}

.dropdown .dropbtn {
    border: none;
    width: 132px;
    border-radius: 1em 0em 0em 1em;
    background-color: transparent;
    /* padding: 0.5em 1em; */
    /* outline: none; */
    /* margin: 0; */
}

.dropdown .dropbtn:focus {
    outline: none;
}

#desktop-nav>a:hover,
.dropdown:hover .dropbtn {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-content {
    /* Dropdown Content (Hidden by Default) */
    display: none;
    position: absolute;
    left: 132px;
    top: 0px;
    width: 132px;
    z-index: 1;
}

/* https://www.c-sharpcorner.com/UploadFile/cd7c2e/vertical-drop-down-menu-on-hover-using-css-and-html/ */

.dropdown-content a {
    /* Links inside the dropdown */
    display: block;
    border-radius: 0px 1em 1em 0px;
    background-color: white;
    /* float: none; */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #E8E8EE;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#mobile-nav {
    display: none;
}

u1 {
    display: none;
    margin-top: 1.5em;
    border-radius: 0;
}

u1:hover {
    color: white;
    background-color: transparent;
}

#social-links {
    position: fixed;
    bottom: 0%;
    padding: 0.7%;
    left: 48%;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 20%;
}

#social-links > a {
    transition-duration: 300ms;
    color: white;
}

#social-links > a:hover i {
    color: grey;
    transform: scale(1.3);
}

/* IDEA: Display for a few seconds maybe? */

#switch-text {
    position: fixed;
    bottom: 16px;
    right: 75px;
    background: white;
    font-family: Futura;
    width: 110px;
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
    padding: 0 0.5em 0 1em;
    border-radius: 1em 0 0 1em;
    text-align: left;
    color: black;
}

.switch {
    position: fixed;
    bottom: 16px;
    right: 30px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .1s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .1s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* input:checked ~ #desktop-nav>a:hover, input:checked .dropdown:hover .dropbtn {
    box-shadow: none;
    color: black;
    background-color: white;
}

input:checked ~ #desktop-nav>a, input:checked .dropdown .dropbtn {
    color: white;
}

input:checked ~ .dropdown-content a {
    border-left: 1px solid lightgray;
}

input:checked ~ .dropdown-content a:hover {
    background-color: lightgray;
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.2), 2px 0px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.noselect {
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.fa-caret-down {
    display: none !important;
}

@media screen and (max-width: 1024px) {
    /*mobile landscape*/
    #inner {
        margin-top: 2%;
        width: 65%;
    }

    .fa-caret-right {
        display: none !important;
    }

    .fa-caret-down {
        display: inline-block !important;
    }

    #desktop-nav {
        /* overflow: hidden; */
        padding: 1em 1em 7em 1em;
    }

    #desktop-nav>a {
        float: left;
        text-align: center;
    }

    .dropdown .dropbtn {
        float: left;
        text-align: center;
        border-radius: 1em 1em 0 0;
    }

    .dropdown-content {
        left: auto;
        margin-top: 39px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
        border-radius: 0;
    }

    #social-links {
        padding: 0.9%;
        left: 46%;
    }

    #social-links>a:hover i {
        transform: scale(1.2);
    }

    /* input:checked ~ #desktop-nav {
        background-color: rgba(0, 0, 0, 0.8);
    }
    input:checked ~ .dropdown-content a:hover {
        background-color: #E8E8EE;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    input:checked ~ .dropdown-content a {
        border-left: none;
        border-top: 1px solid #E8E8EE;
    } */
}

@media screen and (max-width: 640px) {
    /* mobile portrait */
    body {
        background-image: url("/static/images/bg 2.jpg");
    }

    .switch, #switch-text, #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: block;
        text-align: center;
        letter-spacing: 0.3em;
        background-color: rgba(15, 15, 15, 0.9);
        padding: 1em 0em;
        cursor: pointer;
        color: white;
        text-transform: uppercase;
    }

    #mobile-nav-label {
        display: block;
        font-family: Verdana;
    }

    #mobile-nav-label:hover {
        color: cyan;
    }

    #inner {
        margin-top: 4em;
        padding-left: 0px;
        padding-right: 0px;
        letter-spacing: 0.05em;
        width: 90%;
    }

    h1 {
        font-size: 40px;
    }

    #mobile-nav a {
        width: 100%;
        display: block;
        border-radius: 0;
        margin: 0;
        padding: 0.5em 0;
        color: white;
        text-decoration: none;
        font-family: Verdana;
        font-weight: normal;
    }

    #mobile-nav a:hover {
        background-color: transparent;
        color: cyan;
        box-shadow: 0px 8px 20px 0 rgba(0, 0, 0, 0.2), 0px -8px 20px 0 rgba(0, 0, 0, 0.2), 0px 8px 16px 0 rgba(0, 0, 0, 0.2), 0px -8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    #social-links {
        padding: 2%;
        left: 43%;
    }

    #social-links>a:hover i {
        transform: scale(1.2);
    }
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 20px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    font-family: Futura;
    font-size: 20px;
    left: 50%; /* Center the snackbar */
    bottom: 60px; /* 30px from the bottom */
  }

  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 60px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 60px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 60px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }