#desktop-nav>a:hover {
    box-shadow: none;
    color: black;
    background-color: white;
}

#desktop-nav>a, .dropdown {
    color: white;
}

/* Change color of dropdown links on hover */
/* TODO: add border left for dropdown content*/
.dropdown-content a:hover {
    background-color: lightgray;
    /* box-shadow: -10px 0px 12px 0px rgba(0, 0, 0, 0.17); */
}

.dropdown:hover {
    /* Change the background color of the dropdown button when the dropdown content is shown */
    box-shadow: none;
    color: black;
    background-color: white
}

@media screen and (max-width: 1024px) {
    #desktop-nav {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .dropdown-content a:hover {
        background-color: #E8E8EE;
        /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    }
}
