<!DOCTYPE html>
<html lang=en>
<head>
<title>About me - Elijah Lopez</title>
<link rel=icon type="image/png" href="{{url_for('static', filename='images/logo.png')}}">
<link rel=stylesheet href="/static/css/about.css?v=1.7.0">
</head>
<body>
<div class=navigation>
<li><a href="/">Home</a></li>
<li><a href="/programs/">My Programs</a></li>
<li><a href="/contact/">Contact</a></li>
<li><a href="">About</a></li>
<li><a href="/resources/">Resources</a></li>
<li><a href="/search-album-art/">Search Album Art</a></li>
<li><div class="dropdown">Games<div class="dropdown-content">
<a href="/shift">Shift</a>
</div></div></li>
</div>
<div class="about">
<h1>ABOUT ME</h1>
<p>This is a portfolio site about anything that can be put in a portfolio.</p>
</div>
</body>
</html>
