{% extends 'base.html' %}
{% block style %}
<style>
    .link {
        font-size: 20px;
        padding-bottom: 1em;
        display: block;
    }

    .link:hover {
        font-size: 1.4em;
    }
</style>
{% endblock %}
{% block main_content %}
<h1>{% block title %}Articles{% endblock %}</h1>
<br>
<!-- <p>Here are some articles/stories/blog posts I have written</p> -->
<a class=link href="https://medium.com/@elijahlopezz/intermediate-python-tutorial-project-ideas-and-tips-28856b91bfc1">Intermediate Python (Tutorial & Project Ideas)</a>
<a class=link href="https://medium.com/@elijahlopezz/how-to-start-investing-canada-a62a57ef8d95">How to Start Investing</a>
<a class=link href="https://medium.com/@elijahlopezz/python-and-background-tasks-4f70b4a2efd8">Python as a Scheduled Task</a>
<a class=link href="https://medium.com/@elijahlopezz/python-3-x-simplehttpserver-7cf0bbe3a798">Python 3 SimpleHTTPServer</a>
<a class=link href="https://medium.com/@elijahlopezz/get-all-running-processes-with-python-windows-5c1b2e016b2c">Python Get Running Processes</a>
<a class=link href="https://medium.com/@elijahlopezz/creating-menus-in-pygame-c642080ff011">Creating Menus in Pygame</a>
<a class=link href="https://medium.com/@elijahlopezz/automating-unity-building-9899836aaa01">Automate Building in Unity</a>
<a class=link href="https://medium.com/@elijahlopezz/how-to-ignore-value-properties-in-javers-b157af2c14a7">Ignoring Value Properties in Javers</a>
<a class=link href="https://medium.com/@elijahlopezz/windows-10-favorite-cursors-d40f7964eb89">Windows 10 - My Favorite Cursors</a>
{% endblock %}
