{% extends 'base.html' %}
{% block style %}
<style>
    .link {
        font-size: 20px;
        padding-bottom: 1em;
        display: block;
    }

    .link:hover {
        font-size: 1.4em;
    }
</style>
{% endblock %}
{% block main_content %}
<h1>{% block title %}Articles{% endblock %}</h1>
<br>
<div class=leftAlign>
    <a class=link href="https://medium.com/@elijahlopezz/a62a57ef8d95">Finance — Investing Quick Start</a>
    <a class=link href="https://medium.com/@elijahlopezz/afe1f2f4c173">Finance — What are Options?</a>
    <a class=link href="https://medium.com/@elijahlopezz/3b361b0b4296">Finance — Options Properties</a>
    <a class=link href="https://medium.com/@elijahlopezz/52480e01fb80">Finance — Options Strategies</a>
    <a class=link href="https://medium.com/@elijahlopezz/6b80155ae259">Visual Studio Code — Remote-SSH</a>
    <a class=link href="https://medium.com/@elijahlopezz/28856b91bfc1">Python — Intermediate Tutorial & Projects</a>
    <a class=link href="https://medium.com/@elijahlopezz/7cf0bbe3a798">Python — SimpleHTTPServer</a>
    <a class=link href="https://medium.com/@elijahlopezz/95b072368b7e">Python - Concurrent Requests</a>
    <a class=link href="https://medium.com/@elijahlopezz/4f70b4a2efd8">Python — As a Scheduled Task</a>
    <a class=link href="https://medium.com/@elijahlopezz/5c1b2e016b2c">Python — Get Running Processes</a>
    <a class=link href="https://medium.com/@elijahlopezz/c642080ff011">Python — Creating Menus in Pygame</a>
    <a class=link href="https://medium.com/@elijahlopezz/c0b4f4c89557">Python — Convert DOCX to PDF</a>
    <a class=link href="https://medium.com/@elijahlopezz/b157af2c14a7">Java Javers — Ignoring Value Properties</a>
    <a class=link href="https://medium.com/@elijahlopezz/da4c18f7e1d3">Automating Publishing Firefox Add-ons</a>
    <a class=link href="https://medium.com/@elijahlopezz/9899836aaa01">Unity — Automate Building</a>
    <a class=link href="https://medium.com/@elijahlopezz/d40f7964eb89">Windows 10 — My Favorite Cursors</a>
</div>
{% endblock %}
