{% extends 'base.html' %}
{% block title %}Blog{% endblock %}
{% block style %}
<style>
    .blogIframe {
        width: 100%;
        height: 85vh;
        border-radius: inherit;
        border-width: 0;
    }

    #inner {
        margin-top: 5vh;
        margin-bottom: 2em;
        padding: 0 !important;
        height: auto !important;
    }
</style>
{% endblock %}
{% block main_content %}
<iframe src="https://blog.elijahlopez.ca/posts" title="ELL Blog Posts" class="blogIframe"></iframe>
{% endblock %}
