{% extends 'base.html' %}
{% block style %}
<style>
    .link {
        font-size: 20px;
        padding-bottom: 1em;
        display: block;
    }

    .link:hover {
        font-size: 1.4em;
    }
</style>
{% endblock %}
{% block main_content %}
<h1>{% block title %}Blog{% endblock %}</h1>
<br>
<div class=leftAlign>
    <a class=link href="https://blog.elijahlopez.ca">Blogging Home</a>
    {% for post in posts %}
        <a class=link href="{{ post.link }}">{{ post.title }}</a>
    {% endfor %}
</div>
{% endblock %}
