{% extends 'base.html' %}
{% block main_content %}
<h1>{% block title %}Consulting{% endblock %}</h1><br>
<p>A list of all my (usually group) consulting or business related cases</p>
<p>Download links will soon come, just setting up this page at the moment</p>
<button class="accordion" id="rwi">RUNWITHIT Synthetics</button>
<div class="panel">
    <p id="panel-text">RWI needed help to grow, our recommendation was to target the pre-clinical trials industry</p>
    <div class="row">
        <a class="downloadBtn" href="">
            <i class="fa fa-download"></i> View Report</a>
        <div class="divider"></div>
        <a class="downloadBtn" href="">
            <i class="fa fa-download"></i> View Slide Deck</a>
    </div>
</div>

<button class="accordion" id="canopy-growth">Canopy Growth X Martha Stewart</button>
<div class="panel">
    <p id="panel-text">How can Canopy Growtha and Martha Stewart effectively partner up? Our recommendation was reduce the stigma of edibles amongst Martha Stewart's audience</p>
    <div class="row">
        <a class="downloadBtn" href="">
            <i class="fa fa-download"></i> View Report</a>
        <div class="divider"></div>
        <a class="downloadBtn" href="">
            <i class="fa fa-download"></i> View Slide Deck</a>
    </div>
</div>

<button class="accordion" id="canadian-shield">InkSmith: The Canadian Shield</button>
<div class="panel">
    <p id="panel-text">What changes can The Canadian Shield make as the pandemic comes to an end? We recommend to focus on innovation and branch the core-tech into other fields</p>
    <div class="row">
        <a class="downloadBtn" href="">
            <i class="fa fa-download"></i> View Report</a>
        <div class="divider"></div>
        <a class="downloadBtn" href="">
            <i class="fa fa-download"></i> View Slide Deck</a>
    </div>
</div>

<button class="accordion" id="hp">HP</button>
<div class="panel">
    <p id="panel-text">How shoud HP's paper & photo printing division respond to consumer trends? Our recommendation: Starbucks partnership</p>
    <div class="row">
        <a class="downloadBtn" href="https://1drv.ms/w/s!AnQNFW1ohAx2iPU8S4kjIsWP7a0sRw?e=p11Pme">
            <i class="fa fa-download"></i> View Executive Summary</a>
        <div class="divider"></div>
        <a class="downloadBtn" href="https://1drv.ms/p/s!AnQNFW1ohAx2iPVCerNhuz5AADbsKw?e=jBafHf">
            <i class="fa fa-download"></i> View Slide Deck</a>
    </div>
</div>

<button class="accordion" id="new-venture-ecoceipt">New Venture: Eco-Ceipt</button>
<div class="panel">
    <p id="panel-text">A new venture to digitize receipts in businesses and reduce pollution and receipt paper toxins</p>
    <div class="row">
        <a class="downloadBtn" href="https://1drv.ms/w/s!AnQNFW1ohAx2iPUbHiVN9GPGFsyJ7g?e=6EWTPc">
            <i class="fa fa-download"></i> View Report</a>
        <div class="divider"></div>
        <a class="downloadBtn" href="https://1drv.ms/p/s!AnQNFW1ohAx2iPUHWKLekjhiuMskhw?e=FJE0DX">
            <i class="fa fa-download"></i> View Slide Deck</a>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    const accordians = document.getElementsByClassName('accordion');
    const open_panels = [];
    for (const accordian of accordians) {
        accordian.addEventListener('click', () => {
            accordian.classList.toggle('active');
            const panel = accordian.nextElementSibling;
            const el_id = accordian.id;
            if (panel.style.maxHeight) {  // panel is open so close it
                panel.style.maxHeight = null;
                open_panels.splice(open_panels.indexOf(el_id), 1);
                const op_len = open_panels.length;
                history.replaceState({}, document.title, window.location.pathname + (op_len ? '#' + open_panels[op_len - 1] : ''));
            } else {  // open panel
                panel.style.maxHeight = panel.scrollHeight * 1.25 + 'px';
                open_panels.push(el_id);
                history.replaceState({}, document.title, window.location.pathname + '#' + el_id);
            }
        });
    }

    const hash = window.location.hash;
    if (hash) {
        window.onload = () => {
            try {  // open up acordian if hash is valid
                document.getElementById(hash.slice(1)).click();
            } catch (err) { history.replaceState({}, document.title, window.location.pathname); }
            // clear hash if it is invalid
        };
    }
</script>
{% endblock %}
