{% extends 'base.html' %}
{% block style %}
<style>
    p a {
        text-decoration: none;
        color: white;
        font-size: x-large;
        transition: 50ms;
    }

    p a:hover {
        color: lightslategray;
        /* font-size: xx-large; */
    }

    #btc-address {
        cursor: copy;
    }

    #btc-address>#qr-code {
        display: none;
    }

    #btc-address:hover>#qr-code {
        display: block;
    }

    #btc-address .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: black;
        color: #fff;
        margin-left: 10px;
        text-align: center;
        border-radius: 6px;
        font-size: 20px;
        padding: 2px 0;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    #btc-address::before {
        content: '16wQyWAZZGArvVZcW6nzRGnAWHAT9rdaoU';
    }

    #btc-address:hover .tooltiptext {
        visibility: visible;
    }

    @media screen and (max-width:640px) {
        #btc-address::before {
            content: 'Click to copy address';
        }

        .tooltiptext {
            display: none;
        }

        #btc-address>#qr-code {
            display: block;
        }
    }
</style>
{% endblock %}
{% block main_content %}
<h1>{% block title %}Contact{% endblock %}</h1>
<p><a href="mailto:elijahllopezz@gmail.com">Email</a></p><br>
<p><a>BTC: </a><a id=btc-address onclick="copy_text()"><span class="tooltiptext">Click to copy</span>
    <span id=qr-code><img src="/static/images/btc.png" /></span></a></p>
{% endblock %}
{% block more_content %}
<div id="snackbar">BTC address copied!</Address></div>
{% endblock %}
{% block script %}
<script>
    function copy_text() {
        var el = document.createElement('textarea');
        el.value = '16wQyWAZZGArvVZcW6nzRGnAWHAT9rdaoU';
        el.setAttribute('readonly', '');
        el.style = { position: 'absolute', left: '-9999px' };
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
        var snackbar = document.getElementById("snackbar");
        snackbar.className = "show";
        setTimeout(function () { snackbar.className = snackbar.className.replace("show", ""); }, 2400);
    }
</script>
{% endblock %}
