{% extends 'base.html' %}
{% block style %}
<style>
    p a {
        text-decoration: none;
        color: white;
        font-size: x-large;
        transition: 50ms;
    }

    p a:hover {
        color: lightslategray;
        /* font-size: xx-large; */
    }

    #monero-address {
        cursor: copy;
    }

    #monero-address>#qr-code {
        display: none;
        padding-top: 1em;
    }

    #monero-address:hover>#qr-code {
        display: block;
    }

    #monero-address .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: black;
        color: #fff;
        margin-left: 10px;
        text-align: center;
        border-radius: 6px;
        font-size: 20px;
        padding: 2px 0;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    #monero-address::before {
        content: 'Click to copy Monero address';
    }

    #monero-address:hover .tooltiptext {
        visibility: visible;
    }

    @media screen and (max-width:640px) {
        .tooltiptext {
            display: none;
        }

        #monero-address>#qr-code {
            display: block;
        }
    }
</style>
{% endblock %}
{% block main_content %}
<h1>{% block title %}Contact{% endblock %}</h1>
<p><a href="mailto:elijahllopezz@gmail.com">Email</a></p>
<p><a id=monero-address onclick="copy_text()">
    <span class="tooltiptext">Click to copy</span>
    <span id=qr-code><img src="/static/images/monero.png" /></span></a></p>
{% endblock %}
{% block more_content %}
<div id="snackbar">Monero address copied!</Address></div>
{% endblock %}
{% block script %}
<script>
    function copy_text() {
        var el = document.createElement('textarea');
        el.value = '42hpQgwfvFw6RXpmcXHBJ85cZs9yF97kqfV3JpycnanG7JazfdL4WHkVLuR8rcM64q6LHt547nKeeYaixBdCQYaHSuEnAuj';
        el.setAttribute('readonly', '');
        el.style = { position: 'absolute', left: '-9999px' };
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
        var snackbar = document.getElementById('snackbar');
        snackbar.className = 'show';
        setTimeout(() => { snackbar.className = snackbar.className.replace('show', ''); }, 2400);
    }
</script>
{% endblock %}
