{% extends 'base.html' %}
{% block style %}
{% endblock %}
{% block main_content %}
    <h1>{% block title %}Creative Works{% endblock %}</h1>
    <p>Features my graphic design and other types of creative work in the future</p>
    <div class="featuresGrid">
        <a href="https://mega.nz/file/cZBRjJrZ#_AsHjgnPkSibWfUy8iLwF-X4wbvQb_xezaybU2rneZ8" class="feat-link">
            <div class="polaroid">
                <img class="preview" src="/static/graphic_design/plexus_wallpapers_preview.png"
                    alt="Plexus Mobile Wallpapers Preview">
                <div class="container">
                    <p>Plexus Wallpapers</p>
                </div>
            </div>
        </a>
        <a href="https://mega.nz/file/dI5TlJqK#0CGntUuAjL0FCkjinHO3_cQWicKt5jb_Umb71Cmn7j4" class="feat-link">
            <div class="polaroid">
                <img class="preview" src="/static/graphic_design/smoke_wallpapers_preview.png" alt="Smoke Wallpapers">
                <div class="container">
                    <p>Smoke Wallpapers</p>
                </div>
            </div>
        </a>
    </div>
{% endblock %}
