{% extends 'base.html' %}
{% block style %}
{% endblock %}
{% block main_content %}
    <h1>{% block title %}Creative Works{% endblock %}</h1>
    <p>Features my graphic design and other types of creative work in the future</p>
    <div class="featuresGrid">
        <a href="/static/graphic_design/plexus_wallpapers/Plexus Wallpapers.zip?v=2.0.0" download="Plexus Wallpapers.zip" class="feat-link">
            <div class="polaroid">
                <img class="preview" src="/static/graphic_design/plexus_wallpapers/preview.png?v=2.0.0"
                    alt="Plexus Mobile Wallpapers Preview">
                <div class="container">
                    <p>Plexus Wallpapers</p>
                </div>
            </div>
        </a>
        <a href="/static/graphic_design/smoke_wallpapers/Smoke V1.1.zip" download="Smoke Wallpapers.zip" class="feat-link">
            <div class="polaroid">
                <img class="preview" src="/static/graphic_design/smoke_wallpapers/preview.png" alt="Smoke Wallpapers">
                <div class="container">
                    <p>Smoke Wallpapers</p>
                </div>
            </div>
        </a>
    </div>
{% endblock %}
