<!DOCTYPE html>
<!-- TODO: start ""ing everything -->
<!-- TODO: use awesome font logos on home.html -->
<!-- TODO: use for twittter, facebook, etc -->
<html lang="en">
<head>
<title>Elijah Lopez</title>
<link rel="icon" type="image/png" href="/static/images/logo.png">
<link rel="stylesheet" href="/static/css/template.css">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="viewport" content="height=device-height, initial-scale=1"/>
<style>
h1 a {
    color: white;
    text-decoration: inherit;
}

h1 a:hover {
    color: grey;
}
</style>
</head>
<body>
<nav id="mobile-navigation" onclick="mobileNavigation()">
<span id="mobile-navigation-label">MENU</span>
<u1 id="mobile-navigation-panel">
<li><a href="">HOME</a></li>
<li><a href="/programs/">SCRIPTS</a></li>
<li><a href="/contact/">CONTACT</a></li>
<li><a href="/about/">ABOUT</a></li>
<li><a href="/resources/">RESOURCES</a></li>
<li><a href="/search-album-art/">SEARCH ALBUM ART</a></li>
</u1>
</nav>
<nav id="desktop-navigation">
<!-- TODO: add button to change theme -->
<li><a href="">HOME</a></li>
<li><a href="/programs/">SCIRPTS</a></li>
<li><a href="/contact/">CONTACT</a></li>
<li><a href="/about/">ABOUT</a></li>
<li><a href="/resources/">RESOURCES</a></li>
<li><a href="/search-album-art/">SEARCH ALBUM ART</a></li>
<li><div class=dropdown>GAMES<div class=dropdown-content>
<a href="/shift">SHIFT</a>
</div>
</div>
</li>
</nav>
<div id="main"> <!-- TODO: change to inner -->
<h1 id="box-title"><a href="/about/">ELIJAH</a></h1>
<p>Hi! My name is Elijah Lopez and welcome to my website!</p>
</div>
<label class="switch">
<input type="checkbox">
<span class="slider round"></span>
</label>
<script>
var nav_panel = document.getElementById("mobile-navigation-panel");
var menu = document.getElementById("mobile-navigation-label");
function mobileNavigation() {
    if (nav_panel.style.display == "block") {
        nav_panel.style.display = "none";
        menu.innerHTML = "MENU";
    }
    else {
        nav_panel.style.display = "block";
        menu.innerHTML = "CLOSE";
    }
}
var span = document.getElementById("box-title");

// while(true) {
    // var w = window.innerWidth;
    // if(w < "386") // px
    // var h = windows.innerHeight;
    // var clientHeight = document.getElementById('main').clientHeight;
    // TODO: change margin-top of .main based on its own height
    // TODO: change font size based on box width or something
    // span.style.fontSize = "25px";
// }
</script>
</body>
</html>
