<!DOCTYPE html>
<html lang=en>
<head>
<title>Elijah Lopez</title>
<link rel=icon type="image/png" href="{{url_for('static', filename='images/logo.png')}}">
<link rel=stylesheet href="/static/css/template.css">
<link rel=stylesheet href="/static/css/home.css?v=1.8">
</head>
<body>
<div class=navigation>
<li><a href="">Home</a></li>
<li><a href="/programs/">My Programs</a></li>
<li><a href="/contact/">Contact</a></li>
<li><a href="/about/">About</a></li>
<li><a href="/resources/">Resources</a></li>
<li><a href="/search-album-art/">Search Album Art</a></li>
<li><div class=dropdown>Games<div class=dropdown-content>
<a href="/shift">Shift</a>
</div></div></li>
</div>
<div class=main>
<h1><a href="/about/">Elijah Lopez</a></h1>
<p>Hi! My name is Elijah Lopez and welcome to my website!</p>
</div>
</body>
</html>
