<!DOCTYPE html>
<html>
<head>
<title>Elijah Lopez</title>
<style>
body {
      font-family: sans-serif;
      margin-top: 30px;
      background-image: url("/static/images/bg-mobile.jpg");
      background-size: cover;
      /* background-repeat: no-repeat; */
}
@media (min-width: 480px) {
  body {background-image: url("/static/images/bg-desktop.jpg");}
}
</style>
<link rel=icon type="image/png" href="{{url_for('static', filename='images/logo.png')}}">
<link rel=stylesheet href="/static/css/home.css?v=1.0.6.9">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class=navigation>
<p2>
<li><a href="">Home</a></li>
<li><a href="/programs/">My Programs</a></li>
<li><a href="/contact/">Contact</a></li>
<li><a href="/about/">About</a></li>
<li><a href="/resources/">Resources</a></li>
<li><a href="/search-album-art/">Search Album Art</a></li>
<li><div class="dropdown">
<a class="dropbtn">Games</a>
<div class="dropdown-content"><a href="/shift">Shift</a></div>
</div>
</li>
</p2>
</div>
<div class=home>
<h1><a href="/about/">{{name}}</a></h1>
<p>Hi! My name is Elijah and welcome to my website!</p>
</div>
</body>
</html>
