{% extends 'base.html' %}
{% block style %}
<style>
    .link {
        font-family: Montserrat;
        font-size: 20px;
        padding-bottom: 0.5%;
        display: block;
        transition-duration: 100ms;
    }

    .link:hover {
        font-size: 1.5em;
    }
</style>
{% endblock %}
{% block main_content %}
    <h1>{% block title %}Index{% endblock %}</h1>
    <p>All the pages on my website</p>
    <a class="link" href="/">Home</a>
    <a class="link" href="/resume/">Resume</a>
    <a class="link" href="/software/">Software</a>
    <a class="link" href="/resourcess/">Resources</a>
    <a class="link" href="/articles/">Articles</a>
    <a class="link" href="/social/">Social</a>
    <a class="link" href="/about/">About</a>
    <a class="link" href="/search-album-art/">Search Album Art</a>
    <a class="link" href="/music-caster/">Music Caster Home Page</a>
    <a class="link" href="/cloud-copy/">Cloup Copy Home Page</a>
    <a class="link" href="/krunker/">Krunker Get Stats</a>
{% endblock %}
