{% extends 'base.html' %}
{% block style %}
<style>
    #drop-area {
        border: 2px solid #ccc;
        border-radius: 20px;
        width: 480px;
        font-family: sans-serif;
        margin: auto;
        padding: 20px;
    }

    #drop-area.highlight {
        border-color: lightskyblue;
    }

    p {
        margin-top: 0;
    }

    .my-form {
        margin-bottom: 10px;
    }

    #gallery {
        margin-top: 10px;
    }

    #gallery img {
        width: 150px;
        margin-bottom: 10px;
        margin-right: 10px;
        vertical-align: middle;
    }

    .button {
        display: inline-block;
        padding: 10px;
        background: #ccc;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .button:hover {
        background: #ddd;
    }

    #fileElem {
        display: none;
    }

    .hidden {
        display: none;
    }

    input#upload {
        font-size: 1em;
    }
</style>
{% endblock %}
{% block main_content %}
<h1>{% block title %}Testing{% endblock %}</h1>
<div id="drop-area">
    <form class="my-form">
        <p>Upload mp3 file by dragging and dropping or by clicking the button</p>
        <input type="file" id="fileElem" accept=".mp3" onchange="onChange(this.files)">
        <label class="button" for="fileElem">Select a file</label>
        <progress class="hidden" id="progress-bar" max=100 value=0></progress>
        <label id="upload" class="button hidden" onclick="uploadFile()">Add Metadata</label>
        <p id="file-name" style="margin-top: 3%; margin-bottom: 0;"></p>
    </form>
    <!-- <div id="gallery"></div> -->
</div>
{% endblock %}
{% block script %}
<script>
    const uploadCompletetext = 'The enchanced file is being processed. Once complete, a new tab will open up with the file. The link will be valid for 10 minutes.'

    let dropArea = document.getElementById('drop-area');
    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false);
    })

    function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation();
    }

    function highlight(e) {
        dropArea.classList.add('highlight');
    }

    function unhighlight(e) {
        dropArea.classList.remove('highlight');
    }

    function ondrop(e) {
        console.log(e);
    }

    dropArea.addEventListener('dragenter', highlight);
    dropArea.addEventListener('dragover', highlight);
    dropArea.addEventListener('dragleave', unhighlight);
    dropArea.addEventListener('drop', ondrop);

    function onChange(files) {
        const fn = document.getElementById('file-name');
        if (files.length) {
            file = files[0];
            console.log(file.name);
            fn.innerHTML = file.name;
            document.getElementById('upload').classList.remove('hidden');
        } else if (!fn.innerHTML) {
            document.getElementById('upload').classList.add('hidden');
        }
    }

    function uploadFile() {
        file = document.getElementById('fileElem').files[0]
        const url = window.location.pathname;
        const xhr = new XMLHttpRequest();
        const formData = new FormData();
        xhr.open('POST', '', true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

        // Update progress (can be used to show progress indicator)
        // xhr.upload.addEventListener("progress", function (e) {
        //     updateProgress(i, (e.loaded * 100.0 / e.total) || 100);
        // })

        // xhr.addEventListener('readystatechange', function (e) {
        //     if (xhr.readyState === 4 && xhr.status === 200) {
        //         updateProgress(i, 100); // <- Add this
        //     } else if (xhr.readyState === 4 && xhr.status !== 200) {
        //         // Error. Inform the user
        //     }
        // })

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                window.open(xhr.response)
            }
        }

        formData.append('file', file);
        xhr.send(formData);
        document.getElementById('file-name').innerHTML = uploadCompletetext;
        document.getElementById('upload').classList.add('hidden');
    }
    // dropArea.addEventListener('drop', unhighlight, false);
</script>
{% endblock %}