{% extends 'base.html' %}
{% block style %}
<style>
img {
	vertical-align: middle;
}

.container {
	position: relative;
}

.slide {
	display: none;
}

.slide img {
	border-radius: .5em;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 37%;
	background-color: rgba(0, 0, 0, 0.2);
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev {
	left: -5px;
}

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
	color: #f2f2f2;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 0 .5em 0 .5em;
	font-size: 12px;
	padding: 4px 6px;
	position: absolute;
	top: 0;
	right: 0;
	font-family: Futura;
}

.caption-container {
	text-align: center;
	padding: 2px 16px;
	color: white;
}

#caption {
	padding: 2px 16px;
	margin-top: 10px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 25%;
	/* 100 / num of images*/
}

.demo {
	opacity: 0.6;
	cursor: pointer;
}

.active, .demo:hover {
	opacity: 1;
}
</style>
{% endblock %}
{% block main_content %}
<h1>{% block title %}Music Caster{% endblock %}</h1>
<h2>Screenshots (v4.54.8)</h2>
<a class="link" href="https://github.com/elibroftw/music-caster/blob/master/README.md">Download</a>
<div class="container">
	<div class="slide">
		<div class="numbertext">1 / 4</div>
		<img src="https://github.com/elibroftw/music-caster/blob/master/resources/SC-Main.png?raw=true"
			style="width:100%">
	</div>

	<div class="slide">
		<div class="numbertext">2 / 4</div>
		<img src="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/SC-Settings.png"
			style="width:100%">
	</div>

	<div class="slide">
		<div class="numbertext">3 / 4</div>
		<img src="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/SC-Tray.png"
			style="width:50%">
	</div>

	<div class="slide">
		<div class="numbertext">4 / 4</div>
		<img src="https://github.com/elibroftw/music-caster/blob/master/resources/SC-Web.png?raw=true"
			style="width:38%">
	</div>

	<a class="prev" onclick="plusSlides(-1)">❮</a>
	<a class="next" onclick="plusSlides(1)">❯</a>

	<div class="caption-container">
		<p id="caption"></p>
	</div>

	<div class="row">
		<div class="column">
			<img class="demo" src="https://github.com/elibroftw/music-caster/blob/master/resources/SC-Main.png?raw=true"
				style="width:100%" onclick="showSlide(0)" alt="Main" title="Main">
		</div>
		<div class="column">
			<img class="demo"
				src="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/SC-Settings.png"
				style="width:100%" onclick="showSlide(1)" alt="Settings" title="Settings">
		</div>
		<div class="column">
			<img class="demo"
				src="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/SC-Tray.png"
				style="width:60%" onclick="showSlide(2)" alt="Tray Devices Menu" title="Tray Devices Menu">
		</div>
		<div class="column">
			<img class="demo" src="https://github.com/elibroftw/music-caster/blob/master/resources/SC-Web.png?raw=true"
				style="width:40%" onclick="showSlide(3)" alt="Web GUI" title="Web GUI">
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
	let slideIndex = 0;
	const slides = document.getElementsByClassName('slide');
	const thumbs = document.getElementsByClassName('demo');
	const captionText = document.getElementById('caption');
	const numOfImages = slides.length;
	const modal = document.getElementById('modal');

	function plusSlides(n) {
		showSlide(slideIndex + n);
	}


	function showSlide(index) {
		slides[slideIndex].style.display = 'none'
		thumbs[slideIndex].className = thumbs[slideIndex].className.replace(' active', '');
		if (index >= numOfImages) { index = 0 }
		else if (index < 0) { index = numOfImages - 1 }
		slideIndex = index;
		slides[slideIndex].style.display = 'block';
		thumbs[slideIndex].className += ' active';
		captionText.innerHTML = thumbs[slideIndex].alt;
	}

	showSlide(0);
</script>
{% endblock %}
