<!DOCTYPE html>
<html lang="en">
<head>
<title>Programs - Elijah Lopez</title>
<link rel="icon" type="image/png" href="/static/images/logo.png">
<link rel="stylesheet" href="/static/css/template.css">
<link id="theme-2" rel="stylesheet" href="/static/css/theme-2.css">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="viewport" content="height=device-height, initial-scale=1"/>
<style>
@font-face {
  font-family: Montserrat;
  src: url('/static/css/fonts/Montserrat-Thin.otf');
  font-weight: 200;
}

#js-program-title {
    color: white;
    font-family: Montserrat;
    font-weight: lighter;
    margin-top: 10px;
}

#js-program-title:hover {
    color: white;
}

#output {
  font-family: Arial;
  margin-top: 0.5px;
  display: inline;
  font-size: 14px;
}
</style>
</head>
<body>
<nav id="mobile-navigation" onclick="mobileNavigation()" class="noselect">
<span id="mobile-navigation-label">menu</span>
<u1 id="mobile-navigation-panel">
<li><a href="/">home</a></li>
<li><a href="">scripts</a></li>
<li><a href="/contact/">contact</a></li>
<li><a href="/about/">about</a></li>
<li><a href="/resources/">resources</a></li>
<li><a href="/search-album-art/">search album art</a></li>
</u1>
</nav>
<nav id="desktop-navigation" class="noselect">
<li><a href="/">home</a></li>
<li><a href="">scripts</a></li>
<li><a href="/contact/">contact</a></li>
<li><a href="/about/">about</a></li>
<li><a href="/resources/">resources</a></li>
<li><a href="/search-album-art/">search album art</a></li>
<li><div class="dropdown">games<div class="dropdown-content">
<a href="/shift">shift</a>
</div>
</div>
</li>
</nav>
<div id="inner">
<h1>My Programs</h1>
<p>Here are all my programs</p>
<iframe height=400px width="100%" src="https://repl.it/@elilopez/algorithms?lite=true" scrolling=no frameborder=no allowtransparency=true allowfullscreen=true sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
<!-- this should only be on desktop -->
<p id=js-program-title >Square of a number</p>
<input id=inputbox type=number name="Number to Square" onkeyup="squareIt()" max=99999 style="width: 4em">
<p id=output></p>
</div>
<span id="switch_text" class="noselect">Toggle Theme</span>
<label class="switch">
<input id="theme-toggle" type="checkbox" onclick="changeTheme()">
<span class="slider round"></span>
</label>
<script>
function squareIt() {
    var num = document.getElementById('inputbox').value;
    if (num.length > 4) {
        num = num + "";
        num = parseInt(num.slice(0,5));
        document.getElementById('inputbox').value=num;
    }
    a = num*num;
    if(a==0) {
        document.getElementById('output').innerHTML="";
    }
    else {
        document.getElementById('output').innerHTML=a;
    }
}

function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}

function setCookie(name, value, days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}

var nav_panel = document.getElementById("mobile-navigation-panel");
var menu = document.getElementById("mobile-navigation-label");
function mobileNavigation() {
    if (nav_panel.style.display == "block") {
        nav_panel.style.display = "none";
        menu.innerHTML = "MENU";
    }
    else {
        nav_panel.style.display = "block";
        menu.innerHTML = "CLOSE";
    }
}

function changeTheme() {
    if (document.getElementById('theme-toggle').checked) {
        document.getElementById("theme-2").disabled = false;
        document.body.style.backgroundImage = "url('/static/images/bg-mobile-2.jpg')";
        document.getElementById('desktop-navigation').style.color = "white";
        setCookie("elijah-lopez-website-theme", "true", 365);
    } else {
        document.body.style.backgroundImage = "";
        document.getElementById('desktop-navigation').style.color = "";
        document.getElementById("theme-2").disabled = true;
        setCookie("elijah-lopez-website-theme", "false", 365);
    }
}

if (getCookie("elijah-lopez-website-theme") == "true") {
    document.getElementById('theme-toggle').checked = true;
    changeTheme();
}
else {
    document.getElementById("theme-2").disabled = true;
}
</script>
</body>
</html>
