<!DOCTYPE html>
<html lang="en">
<head>
<title>Programs - Elijah Lopez</title>
<link rel="icon" type="image/png" href="/static/images/logo.png">
<link rel="stylesheet" href="/static/css/template.css">
<link id="theme-2" rel="stylesheet" href="/static/css/theme-2.css">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="viewport" content="height=device-height, initial-scale=1"/>
<style>
@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-Thin.otf');
  font-weight: 200;
}

#js-program-title {
    color: white;
    font-family: Montserrat;
    font-weight: lighter;
    margin-top: 10px;
}

#js-program-title:hover {
    color: white;
}

#output {
  font-family: Arial;
  margin-top: 0.5px;
  display: inline;
  font-size: 14px;
}
</style>
</head>
<body>
<nav id="mobile-navigation" onclick="mobileNavigation()">
<span id="mobile-navigation-label">MENU</span>
<u1 id="mobile-navigation-panel">
<li><a href="/">HOME</a></li>
<li><a href="">SCRIPTS</a></li>
<li><a href="/contact/">CONTACT</a></li>
<li><a href="/about/">ABOUT</a></li>
<li><a href="/resources/">RESOURCES</a></li>
<li><a href="/search-album-art/">SEARCH ALBUM ART</a></li>
</u1>
</nav>
<nav id="desktop-navigation">
<li><a href="/">HOME</a></li>
<li><a href="">SCIRPTS</a></li>
<li><a href="/contact/">CONTACT</a></li>
<li><a href="/about/">ABOUT</a></li>
<li><a href="/resources/">RESOURCES</a></li>
<li><a href="/search-album-art/">SEARCH ALBUM ART</a></li>
<li><div class="dropdown">GAMES<div class="dropdown-content">
<a href="/shift">SHIFT</a>
</div>
</div>
</li>
</nav>
<div id="main">
<h1>My Programs</h1>
<p>Here are all my programs</p>
<iframe height=400px width="100%" src="https://repl.it/@elilopez/algorithms?lite=true" scrolling=no frameborder=no allowtransparency=true allowfullscreen=true sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
<!-- this should only be on desktop -->
<p id=js-program-title >Square of a number:</p>
<input id=inputbox type=number name="Number to Square" onkeyup="myFunction()" max=99999 style="width: 4em">
<p id=output></p>
</div>
<label class="switch">
<input id="theme-toggle" type="checkbox" onclick="changeTheme()">
<span class="slider round"></span>
</label>
<script>
function myFunction() {var num=document.getElementById('inputbox').value;if(num.length>4){num=num+""
num=parseInt(num.slice(0,5));document.getElementById('inputbox').value=num;}
a=num*num;if(a==0){document.getElementById('output').innerHTML="";}else{document.getElementById('output').innerHTML=a;}}

if getCookie("elijah-lopez-website-theme") == "true" {
    document.getElementById('theme-toggle').checked = true;
}
else {
    document.getElementById("theme-2").disabled = true;
}
var nav_panel = document.getElementById("mobile-navigation-panel");
var menu = document.getElementById("mobile-navigation-label");
function mobileNavigation() {
    if (nav_panel.style.display == "block") {
        nav_panel.style.display = "none";
        menu.innerHTML = "MENU";
    }
    else {
        nav_panel.style.display = "block";
        menu.innerHTML = "CLOSE";
    }
}

function changeTheme() {
    if (document.getElementById('theme-toggle').checked) {
        // change css to theme
        // var head = document.head;
        // var link = document.createElement("link");
        //
        // link.type = "text/css";
        // link.rel = "stylesheet";
        // link.href = "/static/css/theme-2.css";
        //
        // head.appendChild(link);
        document.getElementById("theme-2").disabled = false;
        document.body.style.backgroundImage = "url('/static/images/bg-mobile-2.jpg')";
        document.getElementById('desktop-navigation').style.color = "white";
        setCookie("elijah-lopez-website-theme", "true", 360);
    } else {
        document.body.style.backgroundImage = "url('/static/images/bg-desktop-2.jpg')";
        document.getElementById('desktop-navigation').style.color = "black";
        document.getElementById("theme-2").disabled = true;
        setCookie("elijah-lopez-website-theme", "false", 360);
    }
}
</script>
</body>
</html>
