{% extends 'base.html' %}
{% block style %}
<style>
    .accordion {
        color: #141414;
        cursor: pointer;
        padding: 18px;
        width: 90%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 20px;
        transition: 0.2s;
        font-family: Verdana;
        border-top: #ccc solid 1px
    }

    .active,
    .accordion:hover {
        background-color: #ccc;
    }

    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
    }

    .panel {
        width: 90%;
        margin: auto;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.1s ease-out;
        text-align: center;
        font-family: Calibri;
        color: black;
    }

    .download-btn {
        background-color: DodgerBlue;
        border: none;
        color: black;
        text-decoration: none;
        padding: 12px 0 12px;
        width: 50%;
        cursor: pointer;
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        float: left;
        bottom: 0;
        transition-duration: 200ms;
    }

    .download-btn:hover {
        background-color: RoyalBlue;
        font-size: 20px;
    }

    /* .download-btn-left {

    } */

    .download-btn-right {
        border-left: darkslategrey solid 1px;
        margin-left: -1px;
    }

    @media screen and (max-width: 640px) {
        h1 {
            font-size: 27px;
        }
    }

    p {
        color: black;
        margin: 0.5em 0;
    }
</style>
{% endblock %}
{% block main_content %}
<h1>{% block title %}Announcements{% endblock %}</h1>
{{announcements|safe}}
{% endblock %}
{% block script %}
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
                history.back();
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                window.location.hash = this.id;
            }
        });
    }
    var hash = window.location.hash;
    if (hash) {
        try {
            document.getElementById(hash.slice(1)).click();
        } catch (err) {
            console.log("invalid hash in url");
        }
    }
</script>
{% endblock %}