{% extends 'base.html' %}
{% block style %}
<style>
    @media screen and (max-width: 1460px) {
        h1 {
            font-size: 40px;
        }
    }

    @media screen and (max-width: 640px) {
        h1 {
            font-size: 25px;
            letter-spacing: 5px;
        }
    }
</style>
{% endblock %}
{% block main_content %}
<h1>{% block title %}Announcements{% endblock %}</h1>
{{announcements|safe}}
{% endblock %}
{% block script %}
<script>
    const acc = document.getElementsByClassName('accordion');
    const open_panels = [];

    for (let i = 0; i < acc.length; i++) {
        acc[i].addEventListener('click', function () {
            this.classList.toggle('active');
            const panel = this.nextElementSibling;
            if (panel.style.maxHeight) {  // panel is open so close it
                panel.style.maxHeight = null;
                open_panels.splice(open_panels.indexOf(this.id), 1);
                const op_len = open_panels.length;
                if (op_len) {
                    history.replaceState({}, document.title, window.location.pathname + '#' + open_panels[op_len - 1]);
                } else {
                    history.replaceState({}, document.title, window.location.pathname);
                }
            } else {  // open panel
                history.replaceState({}, document.title, window.location.pathname + '#' + this.id);
                panel.style.maxHeight = panel.scrollHeight + 'px';
                open_panels.push(this.id);
            }
        });
    }

    const hash = window.location.hash;
    if (hash) {
        window.onload = function () {
            try {
                document.getElementById(hash.slice(1)).click();
            } catch (err) {  // invalid hash
                history.replaceState({}, document.title, window.location.pathname);
            }
        };
    }
</script>
{% endblock %}