<!DOCTYPE html>
<html lang=en>
<head>
<title>Resources - Elijah Lopez</title>
<style>
body {
  background-image: url("/static/images/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
@media (min-width: 480px) {
    background-image: url("/static/images/bg-desktop.jpg");
}
}
</style>
<link rel=icon type="image/png" href="{{url_for('static', filename='images/logo.png')}}">
<link rel=stylesheet href="/static/css/resources.css?v=1.0.6.5">
</head>
<body>
<div class=navigation>
<p2>
<li><a href="/">Home</a></li>
<li><a href="/programs/">My Programs</a></li>
<li><a href="/contact/">Contact</a></li>
<li><a href="/about/">About</a></li>
<li><a href="">Resources</a></li>
<li><a href="/search-album-art/">Search Album Art</a></li>
<li><div class="dropdown">
<a class="dropbtn">Games</a>
<div class="dropdown-content"><a href="/shift">Shift</a></div>
</div>
</li>
</p2>
</div>
<div class=resources>
<h1>RESOURCES</h1>
<p>Here are some resources that I found useful</p>
<p2><a href="https://www.python.org/downloads/">1. Python</a></p2>
</div>
</body>
</html>
