<!DOCTYPE html>
<html lang=en>
<head>
<title>Resources - Elijah Lopez</title>
<link rel=icon type="image/png" href="/static/images/logo.png">
<link rel=stylesheet href="/static/css/template.css">
<link rel=stylesheet href="/static/css/resources.css">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="viewport" content="height=device-height, initial-scale=1"/>
</head>
<body>
<nav id="mobile-navigation" onclick="mobileNavigation()">
<span id="mobile-navigation-label">MENU</span>
<u1 id="mobile-navigation-panel">
<li><a href="/">HOME</a></li>
<li><a href="/programs/">SCRIPTS</a></li>
<li><a href="/contact/">CONTACT</a></li>
<li><a href="/about/">ABOUT</a></li>
<li><a href="">RESOURCES</a></li>
<li><a href="/search-album-art/">SEARCH ALBUM ART</a></li>
</u1>
</nav>
<nav id="main-navigation">
<li><a href="/">HOME</a></li>
<li><a href="/programs/">SCIRPTS</a></li>
<li><a href="/contact/">CONTACT</a></li>
<li><a href="/about/">ABOUT</a></li>
<li><a href="">RESOURCES</a></li>
<li><a href="/search-album-art/">SEARCH ALBUM ART</a></li>
<li><div class=dropdown>GAMES<div class=dropdown-content>
<a href="/shift">SHIFT</a>
</div>
</div>
</li>
</nav>
<div id="main">
<h1>RESOURCES</h1>
<p>Here are some resources that I found useful</p>
<a class=links href="https://www.python.org/downloads/">Python Download</a>
<a class=links href="https://cscircles.cemc.uwaterloo.ca/">Learn Python: CS Circles</a>
<a class=links href="https://www.jetbrains.com/pycharm/download">Pycharm: Python IDE</a>
<a class=links href="https://atom.io/">Atom: General IDE</a>
</div>
<script>
var nav_panel = document.getElementById("mobile-navigation-panel");
var menu = document.getElementById("mobile-navigation-label");
function mobileNavigation() {
    if (nav_panel.style.display == "block") {
        nav_panel.style.display = "none";
        menu.innerHTML = "MENU";
    }
    else {
        nav_panel.style.display = "block";
        menu.innerHTML = "CLOSE";
    }
}
</script>
</body>
</html>
