<!DOCTYPE html>
<html lang="en">

<head>
    <title>Resources - Elijah Lopez</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <link rel="stylesheet" id="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#111111" />
</head>
    <style>
        .link {
            font-family: Montserrat;
            font-size: 20px;
            padding-bottom: 0.5%;
            display: block;
            transition-duration: 100ms;
        }

        .link:hover {
            font-size: 1.5em;
        }
    </style>


<body>
    <nav id="mobile-nav" onclick="mobileNavigation()" class="noselect">
        <span id="mobile-nav-label">menu</span>
        <ul id="mobile-nav-panel">
            <a href="/">home</a>
            <a href="/resume/">resume</a>
            <a href="/software/">software</a>
            <a href="/resources/">resources</a>
            <a href="/repls/">repls</a>
            <a href="/search-album-art/">search album art</a>
            <a href="/contact/">contact</a>
        </u1>
    </nav>
    <nav id="desktop-nav" class="noselect">
        <a href="/">home</a>
        <a href="/resume/">resume</a>
        <a href="/software/">software</a>
        <a href="/resources/">resources</a>
        <a href="/repls/">repls</a>
        <a href="/search-album-art/">search album art</a>
        <a href="/contact/">contact</a>
        <div class="dropdown">
            <button class="dropbtn">games
                <i class="fas fa-caret-right"></i>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/shift/">shift</a>
            </div>
        </div>
    </nav>
    <div id="inner">
        <h1>Resources</h1>
        <p>Here are some resources for learning and software for customizating</p>
        <a class=link href="https://www.python.org/downloads/">Python Download</a>
        <a class=link href="https://cscircles.cemc.uwaterloo.ca/">Learn Python: CS Circles</a>
        <a class=link href="https://www.jetbrains.com/pycharm/download">Pycharm: Python IDE</a>
        <a class=link href="https://code.visualstudio.com/">VS Code: General IDE</a>
        <a class=link href="https://github.com/master131/BlockTheSpot">Spotify Ad-Blocker</a>
        <a class=link href="https://rocketdock.com/download">Rocketdock: Windows Macbar</a>
        <a class=link href="https://www.deviantart.com/elibroftw/art/macOS-Sierra-Rocketdock-762694026">Windows Macbar my custom skin</a>
        <a class=link href="https://www.microsoft.com/store/productId/9NV4BS3L1H4S">QuickLook: preview files better</a>
        <a class=link href="https://www.pushbullet.com/apps">Pushbullet: Sync SMS and notifications</a>
        <a class=link href="https://www.microsoft.com/store/productId/9NBLGGH3ZBJQ">Ditto Clipboard</a>
        <a class=link href="https://www.rainmeter.net/">Rainmeter: Desktop Customization</a>
        <a class=link href="https://www.youtube.com/watch?v=NvWj9lPmtTk">Rainmeter Customization</a>
        <a class=link href="https://www.majorgeeks.com/files/details/keytweak.html">Keytweak: rebind keys; I rebinded Insert to Pause/Play</a>
        <a class=link href="https://rammichael.com/7-taskbar-tweaker">7+ Taskbar Tweaker: get rid of show desktop button</a>
        <a class=link href="https://rocketdock.com/download">Youtube Vanced: YouTube Premium on Android</a>
        <a class=link href="https://www.microsoft.com/store/productId/9NBLGGH516XP">EarTrumpet: Get more volume control on Windows 10</a>
        <a class=link href="https://github.com/spikespaz/search-deflector/releases">Search Deflector: Start menu search deflector</a>
        <a class=link href="https://play.google.com/store/apps/details?id=org.mozilla.fenix">Firefox Preview</a>
        <a class=link href="https://chrome.google.com/webstore/detail/just-read/dgmanlpmmkibanfdgjocnabmcaclkmod">Reader Mode for Chromium</a>
        <a class=link href="https://www.stardock.com/products/fences/">Fences - Desktop Customization ($)</a>
        <a class=link href="https://chrome.google.com/webstore/detail/picture-in-picture-extens/hkgfoiooedgoejojocmhlaklaeopbecg">Picture in Picture for Chromium</a>
        <a class=link href="https://send.firefox.com/">Firefox Send: send files to people with ease</a>
        <a class=link href="https://dissenter.com/download">Dissenter Extension: Comment section of the internet</a>

    </div>
    <span id="switch-text" class="noselect">Toggle Theme</span>
    <label class="switch">
        <input id="theme-toggle" type="checkbox" onclick="changeTheme()">
        <span class="slider round"></span>
    </label>
    <div id="social-links">
        <a href="http://github.com/elibroftw/"><i class="fab fa-github fa-2x"></i></a>
    </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                    window.location.hash = this.id;
                }
            });
        }
        var hash = window.location.hash;
        if (hash) {
            try {
                document.getElementById(hash.slice(1)).click();
            } catch (err) {
                console.log("invalid hash in url");
            }

        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }

        var nav_panel = document.getElementById("mobile-nav-panel");
        var menu = document.getElementById("mobile-nav-label");

        function mobileNavigation() {
            if (nav_panel.style.display == "block") {
                nav_panel.style.display = "none";
                menu.innerHTML = "MENU";
            } else {
                nav_panel.style.display = "block";
                menu.innerHTML = "CLOSE";
            }
        }

        function changeTheme() {
            stylesheet = document.getElementById("stylesheet")
            if (document.getElementById('theme-toggle').checked) {
                stylesheet.setAttribute('href', '/static/css/dark.css')
                setCookie("theme", "true", 365);
            } else {
                stylesheet.setAttribute('href', '/static/css/style.css')
                setCookie("theme", "false", 365);
            }
        }

        if (getCookie("theme") == "true") {
            document.getElementById('theme-toggle').checked = true;
            changeTheme();
        }
    </script>
</body>

</html>