{% extends 'base.html' %}
{% block title %}Resume{% endblock %}
{% block style %}
<style>
    #googleDrivePDF {
        position: relative;
        width: 97%;
        margin: auto;
        min-height: 61vh;
    }

    @media screen and (max-width:500px) {
        #googleDrivePDF {
            min-height: 63vh;
        }

        @media screen and (min-height:800px) {
            /* iPhone X */
            #googleDrivePDF {
                min-height: 52vh;
            }
        }

        @media screen and (min-height:822px) {
            /* Pixel 2 XL */
            #googleDrivePDF {
                min-height: 56vh;
            }
        }
    }
</style>
{% endblock %}
{% block main_content %}
<iframe frameborder="0" id="googleDrivePDF"
    src="https://docs.google.com/viewerng/viewer?url=https://elijahlopez.herokuapp.com/static/resume.pdf?pid=explorer&efh=false&a=v&chrome=false&embedded=true"
    embedded=true></iframe>
{% endblock %}