<p>Elijah Lopez</p>
<p>Tech Enthusiast with a desire to learn, teach, and help.</p>
<p>5390 Cachet Crescent Burlington, ON L7L 7C5</p>
<p>(289) 707-1296</p>
<p><u>elijahllopezz@gmail.com</u> | <u>https://elijahlopez.herokuapp.com/</u> | <u>https://github.com/elibroftw</u> </p>
<h1>SKILLS</h1>
<ul>
    <li>Python</li>
</ul>
<li>Java</li>
<li>C#</li>
<li>Microsoft Word, Excel, PowerPoint</li>
<li>Adobe Photoshop, Premiere Pro, After Effects</li>
<li>Programming personal projects are on my website and GitHub</li>
<h1><strong>EXPERIENCE</strong></h1>
<h2>Ron Edwards YMCA, Burlington <i>- </i><i>Lifeguard and Swim Instructor</i></h2>
<p>July 2018 - PRESENT</p>
<ul>
    <li>Responsible for guarding the pool and keeping clean.</li>
</ul>
<li>Taught kids how to swim, requiring patience, confidence, and leadership. </li>
</ul>
<h2>Time Hortons, Burlington <i>- </i><i>Stocker</i></h2>
<p>April 2017 - July 2017</p>
<ul>
    <li>Responsible for receiving, stocking items, and cleaning</li>
</ul>
</ul>
<h2>Fortinos, Burlington <i>- </i><i>Cafe Clerk</i></h2>
<p>August 2016 - December 2016</p>
<ul>
    <li>Took and executed customer orders for food and beverages.</li>
</ul>
<li>Responsible for closing the department alone.</li>
<li>Handled cash register and inventory of cafe items.</li>
</ul>
<h1><strong>EDUCATION</strong></h1>
<h2>Robert Bateman High School, Burlington, ON <i>- </i><i>IB Certificate</i></h2>
<p>September 2015 - July 2019</p>
<h1>CERTIFICATIONS / PARTICIPATION / AWARDS </h1>
<ul>
    <li>National Lifeguard</li>
</ul>
<li>Standard First Aid with CPR C</li>
<ul>
    <li>Student Council (2017 - 2018)</li>
</ul>
<li>Robotics ‘16-18</li>
<ul>
    <li>COMC School Champion 2017</li>
</ul>
<li>Halton Junior Math Champion 2017</li>