<!DOCTYPE html>
<html lang="en">
<head>
<title>Elijah Lopez - Album Art Finder</title>
<link rel="icon" type="image/png" href="/static/images/logo.png">
<link rel="stylesheet" href="/static/css/template.css">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="viewport" content="height=device-height, initial-scale=1"/>
<style>
#album-cover {
  max-width: 500px;
  max-height: 500px;
}

#track-input, #artist-input {
  width: 8em;
}

#search::after {
  content: "\A\A";
}
</style>
</head>
<body>
<nav id="mobile-navigation" onclick="mobileNavigation()">
<span id="mobile-navigation-label">MENU</span>
<u1 id="mobile-navigation-panel">
<li><a href="/">HOME</a></li>
<li><a href="/programs/">SCRIPTS</a></li>
<li><a href="/contact/">CONTACT</a></li>
<li><a href="/about/">ABOUT</a></li>
<li><a href="/resources/">RESOURCES</a></li>
<li><a href="">SEARCH ALBUM ART</a></li>
</u1>
</nav>
<nav id="desktop-navigation">
<li><a href="/">HOME</a></li>
<li><a href="/programs/">SCIRPTS</a></li>
<li><a href="/contact/">CONTACT</a></li>
<li><a href="/about/">ABOUT</a></li>
<li><a href="/resources/">RESOURCES</a></li>
<li><a href="">SEARCH ALBUM ART</a></li>
<li><div class=dropdown>GAMES<div class=dropdown-content>
<a href="/shift">SHIFT</a>
</div>
</div>
</li>
</nav>
<div id="main">
<h1>Search for Album Art</h1>
<form action="/search-album-art" style="margin-bottom: 1em">
<input id="artist-input" type=text name=artist placeholder="Artist name" autofocus>
<input id="track-input" type=text name=track placeholder="Track name">
<button id="search">Search</button>
</form>
<img id="album-cover" alt="Album Cover" src="{{image_url}}"/>
</div>
<script>
// TODO: Copy image to clipboard, auto or via a button that pops up
if ("{{image_url}}" == "image not found") {
    document.getElementById("album-cover").style.display = "none";
}

var input = document.getElementById("track-input");
input.addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("search").click();
    }
});

var nav_panel = document.getElementById("mobile-navigation-panel");
var menu = document.getElementById("mobile-navigation-label");
function mobileNavigation() {
    if (nav_panel.style.display == "block") {
        nav_panel.style.display = "none";
        menu.innerHTML = "MENU";
    }
    else {
        nav_panel.style.display = "block";
        menu.innerHTML = "CLOSE";
    }
}
</script>
</body>
</html>
