{% extends 'base.html' %}
{% block style %}
<style>
.link {
    font-size: 1.3em;
}

#monero-address {
    cursor: copy;
}

#monero-address>#qr-code {
    display: none;
    padding-top: 1em;
}

#monero-address:hover>#qr-code {
    display: block;
}

#monero-address .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: black;
    color: #fff;
    margin-left: 10px;
    text-align: center;
    border-radius: 6px;
    font-size: 20px;
    padding: 2px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

#monero-address::before {
    content: 'Monero Address';
}

#monero-address:hover .tooltiptext {
    visibility: visible;
}

@media screen and (max-width:640px) {
    .tooltiptext {
        display: none;
    }

    #monero-address>#qr-code {
        display: block;
    }
}

h2 {
    font-size: xx-large;
}
</style>
{% endblock %}
{% block main_content %}
<h1>{% block title %}Links{% endblock %}</h1>
<h2>Contact</h2>
<p><a class="link" href="mailto:elijahllopezz@gmail.com">Email</a></p>
<h2>Social</h2>
<p><a class="link" href="https://github.com/elibroftw">GitHub</a></p>
<p><a class="link" href="https://www.youtube.com/channel/UCIrKT6IOvPo_oT4zSUm6uhQ">YouTube</a></p>
<p><a class="link" href="https://twitter.com/elibroftw">Twitter</a></p>
<!-- <p><a class="link" href="https://instagram.com/elijahllopezz/">Instagram</a></p> -->
<p><a class="link" href="https://discord.gg/pjpCs8v">Discord Server</a></p>
<h2>Donation</h2>
<p><a class="link" href="https://www.paypal.me/elibroftw">PayPal</a></p>
<p>
    <a class="link" id=monero-address onclick="copy_text()" href="monero:{{ xmr_addr }}" title="{{ xmr_addr }}">
        <span class="tooltiptext">Click to copy</span>
        <span id=qr-code><img src="/static/images/monero.png" /></span>
    </a>
</p>
{% endblock %}
{% block more_content %}
<div id="snackbar">Monero address copied!</div>
{% endblock %}
{% block script %}
<script>
    function copy_text() {
        const el = document.createElement('textarea');
        const snackbar = document.getElementById('snackbar');

        // copy Monero Address
        el.value = document.getElementById('monero-address').title;
        el.setAttribute('readonly', '');
        el.style = { position: 'absolute', left: '-9999px' };
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);

        snackbar.className = 'show';
        setTimeout(() => { snackbar.className = snackbar.className.replace('show', ''); }, 2400);
    }
</script>
{% endblock %}
