{% extends 'base.html' %}
{% block style %}
<style>
* {
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
</style>
{% endblock %}
{% block main_content %}
<h1>{% block title %}Software{% endblock %}</h1><br>
<button class="accordion" id="music-caster">Music Caster</button>
<div class="panel">
    <p id="panel-text">A music player with the ability to cast your local music to a Google Cast Device</p>
    <div>
        <a class="download-btn" style="width: 100%;" href="https://github.com/elibroftw/music-caster/blob/master/README.md">
            <i class="fa fa-download"></i> Download on GitHub</a>
    </div>
</div>
<button class="accordion" id="matte-black-theme">Matte Black Theme</button>
<div class="panel">
    <p id="panel-text">A modern dark theme for browsers</p>
    <div>
        <a class="download-btn download-btn-left"
            href="https://chrome.google.com/webstore/detail/ioadlgcadgdbcchobmhlipionnphmfja">
            <i class="fa fa-download"></i> Chrome</a>
        <a class="download-btn download-btn-right" href="https://addons.mozilla.org/addon/matte-black-theme/">
            <i class="fa fa-download"></i> Firefox</a>
    </div>
</div>
<button class="accordion" id="matte-black-theme">Plexus Crystals Theme</button>
<div class="panel">
    <p id="panel-text">An abstract update to the matte black series<p>
    <div>
        <a class="download-btn download-btn-left"
            href="https://chrome.google.com/webstore/detail/ojmfjbdihaiihhfgoepflhbkcoepdmob">
            <i class="fa fa-download"></i> Chrome</a>
        <a class="download-btn download-btn-right" href="https://addons.mozilla.org/addon/plexus-crystals-turquoise/">
            <i class="fa fa-download"></i> Firefox</a>
    </div>
</div>
<button class="accordion" id="google-dark-theme">Google Dark Theme</button>
<div class="panel">
    <p id="panel-text">A dark theme for Google searches</p>
    <div>
        <a class="download-btn download-btn-left"
            href="https://chrome.google.com/webstore/detail/ohhpliipfhicocldcakcgpbbcmkjkian">
            <i class="fa fa-download"></i> Chrome</a>
        <a class="download-btn download-btn-right"
            href="https://addons.mozilla.org/addon/dark-theme-for-google-searches/">
            <i class="fa fa-download"></i> Firefox</a>
    </div>
</div>
<button class="accordion" id="questrade-real-time-quote">Questrade Real-Time Quote</button>
<div class="panel">
    <p id="panel-text">A Firefox extension that clicks the refresh quote button for you.</p>
    <div>
        <a class="download-btn" style="width: 100%;" href="https://addons.mozilla.org/addon/questrade-real-time-quote/">
            <i class="fa fa-download"></i> Firefox</a>
    </div>
</div>
<button class="accordion" id="music-file-editor">Music File Editor</button>
<div class="panel">
    <p id="panel-text">An application for setting metadata for MP3 files</p>
    <div>
        <a class="download-btn" style="width: 100%;" href="https://github.com/elibroftw/mp3-editor">
            <i class="fa fa-download"></i> Download on GitHub</a>
    </div>
</div>
<button class="accordion" id="formula-calculator">Formula Calculator</button>
<div class="panel">
    <p id="panel-text">A program for helpful formulas</p>
    <div>
        <a class="download-btn" style="width: 100%;" href="https://repl.it/@elilopez/formulas">
            <img src="https://repl.it/public/images/logo.svg" width="28px" style="vertical-align:middle">
            Use on Repl.it</a>
    </div>
</div>
<button class="accordion" id="search-album-art">Search Album Art</button>
<div class="panel">
    <p id="panel-text">A demo for searching album art using the Spotify API</p>
    <div>
        <a class="download-btn" style="width: 100%;" href="/search-album-art/">
            Click here to use</a>
    </div>
</div>
<button class="accordion" id="jungle-climb">Jungle Climb</button>
<div class="panel">
    <p id="panel-text">A platformer game made in pygame</p>
    <div>
        <a class="download-btn" style="width: 100%;" href="https://github.com/elibroftw/jungle-climb/blob/master/README.md">
            <i class="fa fa-download"></i> Download on GitHub</a>
    </div>
</div>
<button class="accordion" id="shift">Shift</button>
<div class="panel">
    <p id="panel-text">My 3D shooter game made with Unity</p>
    <div>
        <a class="download-btn" style="width: 100%;" href="https://elijahlopez.itch.io/shift">
            <i class="fa fa-download"></i> Download on itch.io</a>
    </div>
</div>
<button class="accordion" id="discord-bot">Discord Bot</button>
<div class="panel">
    <p id="panel-text">A revolutionary discord music bot with autoplay features</p>
    <div>
        <a class="download-btn" style="width: 100%;" href="https://github.com/elibroftw/discord-bot">
            <i class="fa fa-download"></i> Get it on GitHub</a>
    </div>
</div>
<button class="accordion" id="cloud-copy">Cloud Copy</button>
<div class="panel">
    <p id="panel-text">[Concept/Abandoned] A universal clipboard, OS and browser agnostic</p>
    <div>
        <a class="download-btn" style="width: 100%;" href="/cloud-copy/">
            <i class="fa fa-download"></i> Watch the concept here</a>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var acc = document.getElementsByClassName("accordion");
    var open_panels = [];

    for (let i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {  // panel is open so close it
                panel.style.maxHeight = null;
                open_panels.splice(open_panels.indexOf(this.id), 1);
                var op_len = open_panels.length;
                if (op_len) {
                    history.replaceState({}, document.title, window.location.pathname + "#" + open_panels[op_len - 1]);
                } else {
                    history.replaceState({}, document.title, window.location.pathname);
                }
            } else {  // open panel
                history.replaceState({}, document.title, window.location.pathname + "#" + this.id);
                panel.style.maxHeight = panel.scrollHeight + "px";
                open_panels.push(this.id);
            }
        });
    }
    
    var hash = window.location.hash;
    if (hash) {
        window.onload = function () {
            try {
                var acc = document.getElementById(hash.slice(1)).click();
            } catch (err) {  // invalid hash
                history.replaceState({}, document.title, window.location.pathname);
            }
        };
    }
</script>
{% endblock %}