{% extends 'base.html' %}
{% block style %}
<style>
    .accordion {
        color: #141414;
        cursor: pointer;
        padding: 18px;
        width: 90%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 20px;
        transition: 200ms;
        font-family: Verdana;
        border-top: #ccc solid 1px
    }

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
    }

    .panel {
        width: 90%;
        margin: auto;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 200ms ease-out;
        text-align: center;
        font-family: Calibri;
        color: black;
    }

    .download-btn {
        background-color: DodgerBlue;
        border: none;
        color: black;
        text-decoration: none;
        padding: 12px 0 12px;
        cursor: pointer;
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        float: left;
        bottom: 0;
        transition-duration: 200ms;
    }

    .download-btn:hover {
        background-color: RoyalBlue;
        font-size: 20px;
    }

    .download-btn-left, .download-btn-right {
        width: 50%;
    }

    .download-btn-right {
        border-left: darkslategrey solid 1px;
        margin-left: -1px;
    }

    p {
        color: black;
        margin: 0.5em 0;
    }
</style>
{% endblock %}
{% block main_content %}
<h1>{% block title %}Software{% endblock %}</h1>
<button class="accordion" id="matte-black-theme">Matte Black Theme</button>
<div class="panel">
    <p>A modern dark them for browsers</p>
    <div>
        <a class="download-btn download-btn-left"
            href="https://chrome.google.com/webstore/detail/matte-black-theme/ioadlgcadgdbcchobmhlipionnphmfja">
            <i class="fa fa-download"></i> Chrome</a>
        <a class="download-btn download-btn-right" href="https://addons.mozilla.org/addon/matte-black-v2/">
            <i class="fa fa-download"></i> Firefox</a>
    </div>
</div>
<button class="accordion" id="github-dark-theme">GitHub Dark Theme</button>
<div class="panel">
    <p>A dark theme for GitHub based on Atom One Dark (I helped out)</p>
    <div>
        <a class="download-btn download-btn-left"
            href="https://chrome.google.com/webstore/detail/github-dark-theme/odkdlljoangmamjilkamahebpkgpeacp">
            <i class="fa fa-download"></i> Chrome</a>
        <a class="download-btn download-btn-right" href="https://addons.mozilla.org/addon/github-dark-theme/">
            <i class="fa fa-download"></i> Firefox</a>
    </div>
</div>
<button class="accordion" id="google-dark-theme">Google Dark Theme</button>
<div class="panel">
    <p>A dark theme for Google searches</p>
    <div>
        <a class="download-btn download-btn-left"
            href="https://chrome.google.com/webstore/detail/dark-theme-for-google-sea/ohhpliipfhicocldcakcgpbbcmkjkian">
            <i class="fa fa-download"></i> Chrome</a>
        <a class="download-btn download-btn-right"
            href="https://addons.mozilla.org/addon/dark-theme-for-google-searches/">
            <i class="fa fa-download"></i> Firefox</a>
    </div>
</div>
<button class="accordion" id="music-caster">Music Caster</button>
<div class="panel">
    <p>A Windows app that will let you cast your local music to a Google Cast Device</p>
    <div>
        <a class="download-btn" style="width: 100%;" href="https://github.com/elibroftw/music-caster">
            <i class="fa fa-download"></i> Download on GitHub</a>
    </div>
</div>
<button class="accordion" id="music-file-editor">Music File Editor</button>
<div class="panel">
    <p>A (console) application for setting metadata for (currenty only) mp3 files</p>
    <div>
        <a class="download-btn" style="width: 100%;" href="https://github.com/elibroftw/mp3-editor">
            <i class="fa fa-download"></i> Download on GitHub</a>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                history.replaceState("", document.title, window.location.pathname + window.location.search);
                panel.style.maxHeight = null;
                // history.pushState("", document.title, window.location.pathname + window.location.search);
            } else {
                window.location.hash = this.id;
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
    window.onload = function () {
        var hash = window.location.hash;
        if (hash) {
            try {
                var acc = document.getElementById(hash.slice(1)).click();
            } catch (err) {
                console.log("invalid hash in url");
            }
        }
    };
</script>
{% endblock %}