{% extends 'base.html' %}
{% block style %}
<style>
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar { /* Hide Scrollbar */
    width: 0;
    height: 0;
}
</style>
{% endblock %}
{% block main_content %}
<h1>{% block title %}{{ title }}{% endblock %}</h1><br>
<button class="accordion" id="music-caster">Music Caster</button>
<div class="panel">
    <p id="panel-text">A music player with the ability to cast your local music to a Google Cast Device</p>
    <div>
        <a class="downloadBtn" href="https://github.com/elibroftw/music-caster/blob/master/README.md">
            <i class="fa fa-download"></i> Download on GitHub</a>
    </div>
</div>
<button class="accordion" id="matte-black-theme">Matte Black Theme</button>
<div class="panel">
    <p id="panel-text">A modern dark theme for browsers</p>
    <div class="row">
        <a class="downloadBtn"
            href="https://chrome.google.com/webstore/detail/ioadlgcadgdbcchobmhlipionnphmfja">
            <i class="fa fa-download"></i> Chrome</a>
        <div class="divider"></div>
        <a class="downloadBtn" href="https://addons.mozilla.org/addon/matte-black-red/">
            <i class="fa fa-download"></i> Firefox</a>
    </div>
</div>
<button class="accordion" id="plexus-crystals-theme">Plexus Crystals Theme</button>
<div class="panel">
    <p id="panel-text">An abstract update to the matte black series<p>
    <div class="row">
        <a class="downloadBtn"
            href="https://chrome.google.com/webstore/detail/ojmfjbdihaiihhfgoepflhbkcoepdmob">
            <i class="fa fa-download"></i> Chrome</a>
        <div class="divider"></div>
        <a class="downloadBtn" href="https://addons.mozilla.org/addon/plexus-crystals-sky-blue/">
            <i class="fa fa-download"></i> Firefox</a>
    </div>
</div>
<button class="accordion" id="google-dark-theme">Google Dark Theme</button>
<div class="panel">
    <p id="panel-text">A darker theme for the Google search engine and Google Drive</p>
    <div class="row">
        <a class="downloadBtn"
            href="https://chrome.google.com/webstore/detail/ohhpliipfhicocldcakcgpbbcmkjkian">
            <i class="fa fa-download"></i> Chrome</a>
            <div class="divider"></div>
        <a class="downloadBtn"
            href="https://addons.mozilla.org/addon/dark-theme-for-google-searches/">
            <i class="fa fa-download"></i> Firefox</a>
    </div>
</div>
<button class="accordion" id="split-pdf">PDF Splitter / Extractor</button>
<div class="panel">
    <p id="panel-text">Converts a PDF into a zip file consisting of a file for each page</p>
    <div>
        <a class="downloadBtn" href="/split-pdf/">
            <i class="fa fa-globe"></i> Click here to use</a>
    </div>
</div>
<button class="accordion" id="jungle-climb">Jungle Climb</button>
<div class="panel">
    <p id="panel-text">A platformer made using pygame</p>
    <div>
        <a class="downloadBtn" href="https://github.com/elibroftw/jungle-climb/blob/master/README.md">
            <i class="fa fa-download"></i> Download on GitHub</a>
    </div>
</div>
<button class="accordion" id="questrade-real-time-quote">Questrade Real-Time Quote</button>
<div class="panel">
    <p id="panel-text">A browser extension that clicks the Questrade refresh quote button for you</p>
    <div class="row">
        <a class="downloadBtn"
            href="https://chrome.google.com/webstore/detail/kmgcheblnhkjbbkddfafjcclahlclilm">
            <i class="fa fa-download"></i> Chrome</a>
        <div class="divider"></div>
        <a class="downloadBtn"
            href="https://addons.mozilla.org/addon/questrade-real-time-quote/">
            <i class="fa fa-download"></i> Firefox</a>
    </div>
</div>
<button class="accordion" id="shift">Shift</button>
<div class="panel">
    <p id="panel-text">A 3D shooter made using Unity</p>
    <div>
        <a class="downloadBtn" href="https://elijahlopez.itch.io/shift">
            <i class="fa fa-download"></i> Download on itch.io</a>
    </div>
</div>
<button class="accordion" id="cloud-copy">Cloud Copy</button>
<div class="panel">
    <p id="panel-text">[Concept] A universal clipboard, OS and browser agnostic</p>
    <div>
        <a class="downloadBtn" href="/cloud-copy/">
            <i class="fa fa-link"></i> Watch the concept here</a>
    </div>
</div>
<button class="accordion" id="search-album-art">Search Album Art</button>
<div class="panel">
    <p id="panel-text">A Spotify API demo to search for album art</p>
    <div>
        <a class="downloadBtn" href="/search-album-art/">
            <i class="fa fa-search"></i> Click here to use</a>
    </div>
</div>
<button class="accordion" id="formula-calculator">Formula Calculator</button>
<div class="panel">
    <p id="panel-text">A program for helpful formulas. No longer maintained</p>
    <div>
        <a class="downloadBtn" href="https://repl.it/@elilopez/formulas">
            <img src="https://repl.it/public/images/logo.svg" width="28px" style="vertical-align:middle">
            Use on Repl.it</a>
    </div>
</div>
<button class="accordion" id="discord-bot">Discord Bot</button>
<div class="panel">
    <p id="panel-text">A Discord bot with music (+ autoplay), finance, and other features</p>
    <div>
        <a class="downloadBtn" href="https://github.com/elibroftw/discord-bot">
            <i class="fa fa-download"></i> Get it on GitHub</a>
    </div>
</div>
<button class="accordion" id="audio-metadata-editor">MP3 Metadata Editor</button>
<div class="panel">
    <p id="panel-text">A precursor to Music Caster; A CLI for setting metadata of MP3 files</p>
    <div class="row">
        <a class="downloadBtn" href="https://github.com/elibroftw/mp3-editor">
            <i class="fa fa-download"></i> Download on GitHub</a>
            <div class="divider"></div>
        <a class="downloadBtn" href="/metadata-setter/">
            <i class="fa fa-globe"></i> Use Online</a>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    const accordians = document.getElementsByClassName('accordion');
    const open_panels = [];
    for (const accordian of accordians) {
        accordian.addEventListener('click', () => {
            accordian.classList.toggle('active');
            const panel = accordian.nextElementSibling;
            const el_id = accordian.id;
            if (panel.style.maxHeight) {  // panel is open so close it
                panel.style.maxHeight = null;
                open_panels.splice(open_panels.indexOf(el_id), 1);
                const op_len = open_panels.length;
                history.replaceState({}, document.title, window.location.pathname + (op_len ? '#' + open_panels[op_len - 1] : ''));
            } else {  // open panel
                panel.style.maxHeight = panel.scrollHeight * 1.25 + 'px';
                open_panels.push(el_id);
                history.replaceState({}, document.title, window.location.pathname + '#' + el_id);
            }
        });
    }

    const hash = window.location.hash;
    if (hash) {
        window.onload = () => {
            try {  // open up acordian if hash is valid
                document.getElementById(hash.slice(1)).click();
            } catch (err) { history.replaceState({}, document.title, window.location.pathname); }
            // clear hash if it is invalid
        };
    }
</script>
{% endblock %}
