{% extends 'base.html' %}
{% block style %}
<style>
    .accordion {
        color: #141414;
        cursor: pointer;
        padding: 18px;
        width: 90%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 20px;
        transition: 0.2s;
        font-family: Verdana;
        border-top: #ccc solid 1px
    }

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
    }

    .panel {
        width: 90%;
        margin: auto;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.1s ease-out;
        text-align: center;
        font-family: Calibri;
        color: black;
    }

    p {
        color: black;
        margin: 0.5em 0;
    }

    @media screen and (max-width: 1460px) {
        h1 {
            font-size: 40px;
        }
    }

    @media screen and (max-width: 640px) {
        h1 {
            font-size: 25px;
            letter-spacing: 5px;
        }
    }
</style>
{% endblock %}
{% block main_content %}
<h1>{% block title %}WLU Pool Schedule{% endblock %}</h1>
<p style="color: white;">Times marked with a * below have the pool in long course configuration</p>
{{schedule|safe}}
{% endblock %}
{% block script %}
<script>
    var acc = document.getElementsByClassName("accordion");
    var open_panels = [];
    
    for (let i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {  // panel is open so close it
                panel.style.maxHeight = null;
                open_panels.splice(open_panels.indexOf(this.id), 1);
                var op_len = open_panels.length;
                if (op_len) {
                    history.replaceState({}, document.title, window.location.pathname + "#" + open_panels[op_len - 1]);
                } else {
                    history.replaceState({}, document.title, window.location.pathname);
                }
            } else {  // open panel
                history.replaceState({}, document.title, window.location.pathname + "#" + this.id);
                panel.style.maxHeight = panel.scrollHeight + "px";
                open_panels.push(this.id);
            }
        });
    }

    function open_todays() {
        var today = new Date();
        var dayIndex = today.getDay().toString().toLowerCase();
        var day_of_week = ["sunday", "monday","tuesday", "wednesday", "thursday", "friday", "saturday"][dayIndex];
        document.getElementById(day_of_week).click();
    }

    var hash = window.location.hash;
    if (hash) {
        window.onload = function () {
            try {
                document.getElementById(hash.slice(1)).click();
            } catch (err) {  // invalid hash
                open_todays();
            }
        };
    } else {
        open_todays();
    }
</script>
{% endblock %}